/* Remover rolagem horizontal */
body {
    overflow-x: hidden;
}

/* Parallax */
.parallax {
    background-image: url('http://localhost/vinyl-store-project/public/assets/images/background-home.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    color: white;
    height: 100vh;
}

.parallax-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Navbar */
.navbar .form-inline {
    flex: 1;
}

/* Produtos destacados */
.produtosDestacados {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.disco {
    height: 250px;
    width: 200px;
    margin: 20px;
}

.textDisco {
    margin-top: 10px;
    text-align: center;
}

.valor {
    text-align: center;
    margin-top: 5px;
}

/* Footer */
footer {
    color: black;
}

/* Mudança de cor do menu quando aberto */
.navbar-dark-bg {
    background-color: #343a40 !important;
}

.navbar-dark-bg .nav-link {
    color: white !important;
}

/* Responsividade */

/* Responsividade para o parallax */
@media (max-width: 768px) {
    .parallax {
        background-attachment: scroll;
        height: 30vh;
    }

    .parallax-text {
        top: 40%;
    }

    h1 {
        font-size: 1.75rem;
    }

    p {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .parallax {
        height: 25vh;
    }

    .parallax-text {
        top: 35%;
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.875rem;
    }
}

/* Responsividade para os produtos destacados */
@media (max-width: 768px) {
    .produtosDestacados {
        flex-direction: column;
        align-items: center;
    }

    .disco {
        margin-bottom: 20px;
    }
}

/* Ajustes de responsividade para o formulário da navbar */
@media (max-width: 768px) {
    .form-inline {
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100%;
    }
}
