/* Parallax */
.parallax {
    background-image: url('http://localhost/vinyl-store-project/public/assets/images/background-home.png'); 
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    color: white;
    height: 100vh;
}


.parallax-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.navbar .form-inline {
    flex: 1; 
    
}

h1, p {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    
}



/* Responsividade para o parallax */
@media (max-width: 768px) {
    .parallax {
        background-attachment: scroll;
        height: 30vh;
    }

    .parallax-text {
        top: 40%;
    }

    h1 {
        font-size: 1.75rem;
    }

    p {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .parallax {
        height: 25vh;
    }

    .parallax-text {
        top: 35%;
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.875rem;
    }
}

footer{
    color: black;
    
}